<!-- views/getNews.ejs -->
<html>

<head>
    <title>Latest News</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100">
    <div class="container mx-auto py-8">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">


            <% data.forEach((article)=> { %>

                <div class="bg-white shadow-md rounded p-4">

                    <a href="/news/<%= article._id %>">

                        <figure class="relative max-w-sm">
                            <a href="/news/<%= article._id %>">
                                <img class="rounded-lg" src="<%= article.image %>" alt="<%= article.title %>">
                            </a>
                            <figcaption class="absolute px-4 text-lg text-white bottom-6 font-bold">
                                <%= article.title %>
                            </figcaption>
                        </figure>
                    </a>
                    <p class="text-sm text-gray-500">Author: <%= article.author %>
                    </p>
                    <p class="text-sm text-gray-500">Tag: <%= article.tag %>
                    </p>


                </div>

                <% }) %>
        </div>



        <div class="mt-8">
            <% if (pagination.prev) { %>
                <a href="/news?page=<%= pagination.prev.page %>" class="mr-2 text-blue-500">&larr; Previous</a>
                <% } %>
                    <% if (pagination.next) { %>
                        <a href="/news?page=<%= pagination.next.page %>" class="text-blue-500">Next &rarr;</a>
                        <% } %>
        </div>
    </div>


</body>

</html>